.header {
}

.bs-callout {
    border-color: #eee;
}

.bs-callout h3 {
}

.bs-callout-section {
    border-left-color: #30383E;
    /*border-left-color: #d9534f;*/
}

.bs-callout-section h3 {
    /*color: #d9534f;*/
    color: #30383E;
    display: inline-block;
    padding: 4px;
}

.body-content a {
    color: black;
}

.tooltip-inner {
    color: #fff;
    background-color: #30383E;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #30383E;
}

.body-content .btn-primary {
    color: #ccc;
    background-color: #30383E;
    border-color: #30383E;
}

    .body-content .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color: #000;
        background-color: #a2a2a2;
    }
