@model CredentialsField

<p class="help-block">Enable clear text button: @Model.EnableClearTextButton</p>
@Html.RenderFieldEditorFor(Model, Model.Username, m => m.Username)
@Html.RenderFieldEditorFor(Model, Model.Password, m => m.Password)
@Html.RenderFieldEditorFor(Model, Model.ConfirmPassword, m => m.ConfirmPassword)