h4 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    padding: 20px;
    margin-bottom: 30px;
}

    .bs-callout h3 {
        margin-bottom: 20px;
        margin-top: 0;
    }

.bs-callout-section {
    border-left-color: #337ab7;
    /*border-left-color: #d9534f;*/
}

    .bs-callout-section h3 {
        /*color: #d9534f;*/
        color: #337ab7;
    }

.form-control {
    min-width: 100%;
}

.input-validation-error {
    color: #be0000;
    background-color: #ffecec;
    border-color: #bc3535;
}

.field-validation-error {
    color: #be0000;
}

.field-type-radiobuttonlist .form-group label {
    margin-right: 20px;
}

    .field-type-radiobuttonlist .form-group label:last-child {
        margin-right: inherit;
    }

.field-type-declarationcheckbox .complete-text {
    margin-top: 15px;
}

/* Submenus */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.header {
    margin-top: 20px;
    padding: 20px;
}

.buttons {
    margin-bottom: 30px;
}

.block-type-banner img {
    max-width: 100%;
}

.logo {
    margin-left: -15px;
}

.table.breakdown-points td:first-child {
    width: 50%;
}
